nav {
    display: flex;
    /*justify-content: space-around;*/
    /*justify-content: center;*/
    justify-content: space-between;
    /*flex-wrap: wrap;*/
}
a {
    margin: 20px;
    color: black;
    font-size: .75em
}
a:hover{
    color: grey;
    text-decoration: none;
}